html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


@font-face {
    font-family: "Billing Lottre";
    src: url("../fonts/billing_lottre/BillingLottre-Regular.otf") format('opentype');
}

@font-face {
    font-family: "Horge";
    src: url("../fonts/horge/Horge.otf") format('opentype');
}

@font-face {
    font-family: "White Dream";
    src: url("../fonts/white_dream/WhiteDreamPERSONALUSEONLY-Regular.otf") format('opentype');
}

@font-face {
    font-family: "Makes you stronger";
    src: url("../fonts/kg_makes_you_stronger/KGMakesYouStronger.ttf") format('truetype');
}

@font-face {
    font-family: "Wonderly";
    src: url("../fonts/wonderly/Wonderly.otf") format('opentype');
}

@font-face {
    font-family: "Simple Michael";
    src: url("../fonts/simple_michael/SimpleMichael.otf") format('opentype');
}


nav{
    display: flex;
    font-family: "Horge";
    position:fixed;
}

nav img{
    width: 50px;
    height: 50px;
}

.accueil_page {
    margin: 0;
    padding: 20;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(40, 45, 40, 0.5), rgba(40, 45, 40, 0.5)), url("../images/background2.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: "Billing Lottre"; */
}

.brand{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    /* font-size: 18px; */
}

.brand h1{
    font-family: "Simple Michael";
    font-size: 10vh;
}
.brand h2{
    font-family: "Makes you stronger";
    font-size: 5vh;
}

.suite_page{
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
}

.suite_page img{
    height: 25vh;
    width: 25vh;
}


div.form_inscription, div.form_connexion{
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


div.form_inscription .btn{
    justify-content: center;
    /* background-image: url('../images/logo.png'); */
}

footer{
    background-color: #D8F1C6;
    color: #F4C5CF;
    display: flex;
}

footer ul{
    list-style-type: none;
}

.btn{
    background-color: #D8F1C6;
	/* background-color: #B89CC2; */
    /* color:#e89CC2; */
    border: #f4c5cf;
} 

.btn:hover{
    background-color: #f4c5cf;
}



/* https://dribbble.com/shots/21248179-App-UI */