{% extends "base.twig" %}
{% block title %} {{ parent() }}Accueil{% endblock %}
{% block contenu %}  {{ parent() }}

<div class="accueil_page">
	{# <div class="brand"> #}
	<hgroup class="brand">
		<h1>Nab¡</h1>
		<h2>FLEURS FRAÎCHES & LOCALES</h2>
	</hgroup>
	{# </div> #}
	<div class="suite_page">
		{# <a href="#"><img src="../../public/images/butterfly_white.png" alt="Flèche scroll auto en forme de papillon"></a> #}
		<p>Scrollez pour découvrir nos produits</p>
	</div>
</div>

<div class="col-3">
{# <ul class="list-group d-none d-sm-block">
<li class="list-group-item d-flex justify-content-between align-items-center">
Cartes mères<span class="badge badge-primary badge-pill">14</span></li>
<li class="list-group-item d-flex justify-content-between align-items-center">
Processeurs<span class="badge badge-primary badge-pill">2</span></li>
<li class="list-group-item d-flex justify-content-between align-items-center">
Mémoires<span class="badge badge-primary badge-pill">1</span></li>
</ul> #}
</div>

<div class="fleurs_saison">
<h3></h3>

</div>
<div class="suggestions"></div>
{% endblock %}