{% extends "base.html.twig" %}
{% block title %} {{ parent() }}Accueil{% endblock %}
{% block contenu %}  {{ parent() }}
  <table>
    <thead>
    </thead>
    <tbody>
      <tr>
        <th>
          <td><img src="./images/bouquet1.png"></td>
          <td><img src="./images/bouquet1.png"></td>
          <td><img src="./images/bouquet1.png"></td>
        </th>
      </tr>
    </tbody>
  </table>
{% endblock %}