{% extends "base.twig" %}
{% block title %} {{ parent() }}Accueil{% endblock %}
{% block contenu %}  {{ parent() }}

<div class="accueil_page">
	<hgroup class="brand">
		<h1>Nab¡</h1>
		<h2>FLEURS FRAÎCHES & LOCALES</h2>
	</hgroup>
	<div class="suite_page">
		<p>Scrollez pour découvrir nos produits</p>
	</div>
</div>

{% endblock %}