{% extends "base.html.twig" %}
{% block title %} {{ parent() }}Accueil{% endblock %}
{% block contenu %}  {{ parent() }}

<div class="1">
  <h1>L'atelier des pétales</h1>
  <h2>Amour 100% frais</h2>
  <p>Scrollez pour découvrir nos produits</p>
</div>

<div class="fleurs_saison">
<h3></h3>

</div>
<div class="suggestions"></div>
{# <div class=""></div>
<div class=""></div> #}




  {# <table>
    <thead>
    </thead>
    <tbody>
      <tr>
        <th>
          <td><img src="./images/bouquet1.png"></td>
          <td><img src="./images/bouquet1.png"></td>
          <td><img src="./images/bouquet1.png"></td>
        </th>
      </tr>
    </tbody>
  </table> #}
{% endblock %}