{% extends "base.html.twig" %}
{% block title %} {{ parent() }}Accueil{% endblock %}
{% block contenu %}  {{ parent() }}

<div class="accueil_page">
	<div class="brand">
		<h1>La fabrique à pétales</h1>
		<h2>Amour 100% frais</h2>
	</div>
	<div class="suite_page">
		<p>Scrollez pour découvrir nos produits</p>
	</div>
</div>

{# <div class="accueil_page2">
	<div class="brand">
		<h1>La fabrique à pétales</h1>
		<h2>Amour 100% frais</h2>
	</div>
	<div class="3">
		<p>Scrollez pour découvrir nos produits</p>
	</div>
</div>

<div class="accueil_page3">
	<div class="brand">
		<h1>La fabrique à pétales</h1>
		<h2>Amour 100% frais</h2>
	</div>
	<div class="3">
		<p>Scrollez pour découvrir nos produits</p>
	</div>
</div>

<div class="accueil_page4">
	<div class="brand">
		<h1>La fabrique à pétales</h1>
		<h2>Amour 100% frais</h2>
	</div>
	<div class="3">
		<p>Scrollez pour découvrir nos produits</p>
	</div>
</div>
<div class="accueil_page5">
	<div class="brand">
		<h1>La fabrique à pétales</h1>
		<h2>Amour 100% frais</h2>
	</div>
	<div class="3">
		<p>Scrollez pour découvrir nos produits</p>
	</div>
</div>

<div class="accueil_page6">
	<div class="brand">
		<h1>La fabrique à pétales</h1>
		<h2>Amour 100% frais</h2>
	</div>
	<div class="3">
		<p>Scrollez pour découvrir nos produits</p>
	</div>
</div>

<div class="accueil_page7">
	<div class="brand">
		<h1>La fabrique à pétales</h1>
		<h2>Amour 100% frais</h2>
	</div>
	<div class="3">
		<p>Scrollez pour découvrir nos produits</p>
	</div>
</div> #}

<div class="col-3">
<ul class="list-group d-none d-sm-block">
<li class="list-group-item d-flex justify-content-between align-items-center">
Cartes mères<span class="badge badge-primary badge-pill">14</span></li>
<li class="list-group-item d-flex justify-content-between align-items-center">
Processeurs<span class="badge badge-primary badge-pill">2</span></li>
<li class="list-group-item d-flex justify-content-between align-items-center">
Mémoires<span class="badge badge-primary badge-pill">1</span></li>
</ul>
</div>

<div class="fleurs_saison">
<h3></h3>

</div>
<div class="suggestions"></div>
{# <div class=""></div>
<div class=""></div> #}




  {# <table>
    <thead>
    </thead>
    <tbody>
      <tr>
      <tr>
        <th>
          <td><img src="./images/bouquet1.png"></td>
          <td><img src="./images/bouquet1.png"></td>
          <td><img src="./images/bouquet1.png"></td>
          <td><img src="./images/bouquet1.png"></td>
          <td><img src="./images/bouquet1.png"></td>
          <td><img src="./images/bouquet1.png"></td>
        </th>
      </tr>
      </tr>
    </tbody>
  </table> #}
  </table> #}
{% endblock %}