{% extends "base.html.twig" %}
{% block title %} {{ parent() }}Inscription{% endblock %}
{% block contenu %}  {{ parent() }}
<form action="index.php?page=inscrire" method="post" enctype="application/x-www-form- urlencoded">
    <h1>Inscrivez-vous sur L'atelier des fleurs</h1>
    <label for="inputEmail" class="sr-only">Email:</label>
    <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">Mot de passe:</label>
    <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Mot de passe" required>
    <label for="inputPassword2" class="sr-only">Mot de passe:</label>
    <input type="password" id="inputPassword2" name="inputPassword2" class="form-control" placeholder="Confirmation mot de passe" required>
    <select class="form-control" name="role">
        <option value="1">Administrateur</option>
        <option value="2">Client</option>
    </select>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btInscrire">S'inscrire</button>
</form>

{% endblock %}