{% extends "base.twig" %}

{% block title %} {{ parent() }} En maintenance {% endblock %}

{% block contenu %}

    <div class="divMaintenance">
        <div class="MaintenanceContent-box">
            <h1>Nous revenons bientôt</h1>
            <p>Notre site est en maintenance pour améliorer votre expérience. Nous reviendrons dans quelques instants.</p>
            <p>Nous apprécions votre patience. Si vous avez besoin d'aide, n'hésitez pas à nous <a href="mailto:elmokretarmalak25@gmail.com" class="maintenanceContact-link">contacter</a>.</p>
            <a href="/" class="btn btn-primary">Retour à l'accueil</a>
        </div>
    </div>

{% endblock %}